@model IEnumerable<PatientManagement.Models.AdviceDetail>

<div class="container my-3">
    <div class="card border-light mb-lg-5">
        <div class="card-body text-center">
            <div class="row">
                <div class="col-md-6 offset-3">
                    <img class="img-responsive" src="~/Assets/Images/feedback.png" height="120" width="120" />
                    <strong class="btn btn-lg btn-primary">Click on reply button to reply.</strong>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bs-docs-section">
    <div class="container">
        <div class=" table-responsive ">
            <table class="table">
                <tr>
                    <th>
                        Advice time
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PatientDetail.Name)
                    </th>
                    <th>
                        Patient Message
                    </th>
                    <th>
                        Doctor Message
                    </th>

                    <th></th>
                </tr>

                @foreach (var item in Model.OrderByDescending(item => item.AdviceTime))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AdviceTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PatientDetail.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PatientMessage)
                        </td>
                        @if (item.DoctorMessage == "Please wait for reply.")
                        {
                            <td class="table-active">
                                <sapn class="text-danger">Please reply to patient.</sapn>
                            </td>
                            <td>
                                @Html.ActionLink("Reply", "Edit", new { id = item.AdviceId }, new { @class = "btn btn-warning" })
                            </td>
                        }
                        else
                        {
                            <td class="table-success">
                                @Html.DisplayFor(modelItem => item.DoctorMessage)
                            </td>
                        }
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
